.card {     
  display: inline-block;     
  text-align: center;     
  width: 3em;     
  font-size: 2em;     
  box-shadow: 0 4px 8px 0 rgba(68, 148, 121, 0.2);     
  margin: 1em;     
  user-select: none; 
}

.activeCard {     
  color: rgb(32, 24, 100);     
  background: rgb(192, 255, 241); 
} 

.App {
  text-align: center; 
}

.body {
  background-color: rgb(214, 235, 221); 
}

div.value {
  background-color: rgb(220, 208, 231);
  color: rgb(41, 29, 105);
  margin: 20px 0 20px 0;
  padding: 20px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;  
}

p{
  text-align: center;  
}
